# Arquivos de editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Ignorar pastas de dependências caso você rode algo na raiz no futuro
node_modules/

# Ignorar variáveis de ambiente (MUITO IMPORTANTE)
.env
.env.local
.env.*.local