@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --fundo: #ffffff;
  --frente: #171717;
  --fonteSans: Inter, Arial, Helvetica, sans-serif;
  --fonteMono: "Courier New", Courier, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fundo: #0a0a0a;
    --frente: #ededed;
  }
}

body {
  background: var(--fundo);
  color: var(--frente);
  font-family: var(--fonteSans);
}
